<h2>Welcome to the Home of Jersey Shore Real Estate</h2>
<br>
<h3>Please login or sign up to continue</h3>

<% if @agent.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@agent.errors.count, "error") %>
      prohibited this agent from logging in.
    </h2>

    <ul>
    <% @agent.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @agent, url: login_path, method: :post do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %>
  Or <%= link_to(controller: 'agents', action: 'new') { 'sign up' } %>

<% end %>

<br>
<%= link_to('Log in with Github!', '/auth/github') %>
