<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@property.errors.count, "error") %>
      prohibited this Property from being saved:
    </h2>

    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @property  do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :bedrooms %>
  <%= f.text_field :bedrooms %>
  <br />
  <%= f.label :bathrooms %>
  <%= f.text_field :bathrooms %>
  <br>
  <%= f.submit %>
<% end %>
