<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@property.errors.count, "error") %>
      prohibited this Property from being saved:
    </h2>

    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @property  do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :bedrooms %>
  <%= f.text_field :bedrooms %>
  <br />
  <%= f.label :bathrooms %>
  <%= f.text_field :bathrooms %>
  <br>
  <%= f.label :clients %>
  <%= f.collection_select :client_id, Client.all, :id, :last_name, :include_blank => true%>
  <%= f.submit %>
<% end %>

<div id="postResult">
  <h2 id="propertyAddress"></h2>
  <p id="propertyPrice"> </p>
  <p id="propertyBedrooms"></p>
  <p id="propertyBathrooms"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();

      var posting = $.post('/properties', values);

      posting.done(function(data) {
        var property = data;
        $("#propertyAddress").text(property["address"]);
        $("#propertyPrice").text(property["price"]);
        $("#propertyBedrooms").text(property["bedrooms"]);
        $("#propertyBathrooms").text(property["bathrooms"]);
      });
    });
  });
</script>
