<h1>Your Properties</h1>

<div>
  <h3>Listings:</h3>
  <%= form_tag("/properties", method: "get") do %>
    <%= select_tag "date", options_for_select(["This Week", "This Month"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
  <ul>
    <% @properties.each do |property| %>
        <li><%= link_to property.address, property_path(property)%></li>
              <%= property.property_details %><br>
          <%= link_to "Delete", property, method: :delete, data: { confirm: "Really?" } %>
          <br><br>
    <% end %>
<%= link_to "Add a Property", new_property_path %>
<br>
<br>
<%=link_to 'See Clients', clients_path(@client)%>
<br>
<br>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>
  </ul>
