
<h1><%= @property.address %></h1>

<h3>Price: <%=@property.price %></h3>
<h3>Bedrooms: <%=@property.bedrooms %></h3>
<h3>Bathrooms: <%=@property.bathrooms %></h3>
<h3>Client: <%= link_to @property.client.last_name_first_name, client_path(@property.client) %></h3>
<%= link_to "Edit Property", edit_property_path %>
<br>
<br>
<%= link_to "Add a Client", new_client_path %>
<br>
<br>

<%= link_to "All Properties", properties_path %>
