
<div id="show-property">
  <a href="#" class="js-next" data-id="<%=@property.id%>">Next...</a>
  <h1 Address: class="propertyAddress"><%= @property.address %></h1>
  <h3>Price:</h3><p class="propertyPrice"><%= @property.price %></p>
  <h3>Bedrooms:</h3><p class="propertyBedrooms"><%= @property.bedrooms %></p>
  <h3>Bathrooms:</h3><p class="propertyBathrooms"><%= @property.bathrooms %></p>
</div>



<%= link_to "Edit Property", edit_property_path %>
<br>
<br>
<%= link_to "All Properties", properties_path %>
<script type="text/javascript" charset="utf-8">

  $(function () {

  });
  </script>
