<h1>Your Clients</h1>
  <ul>
    <% @clients.each do |client| %>
        <li><%= link_to client.last_name_first_name, client_path(client)%></li>
        Phone: <%=client.phone_number%>
        <br>
        <%client.properties.each do |property| %>

        <%= link_to property.address, property_path(property) %>
        <br>
        <%end%>


          <br><br>
    <% end %>



  </ul>
<%= link_to "Add a Client", new_property_path %>
<br>
<br>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>
